<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de usuarios</h4>
                <h6 class="card-subtitle">Aquí se mostraran los usuarios activos e incativos</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td id="td-id-1" class="td-class-1"> {{usuario.nombre}} </td>
                            <td>{{ usuario.email }}</td>
                            <td>
                                <div *ngIf="usuario.estado">
                                    <span class="badge badge-primary">Activo</span>
                                </div>
                                <div *ngIf="!usuario.estado">
                                    <span class="badge badge-danger">In Activo</span>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="usuario.role === 'ADMIN_ROLE'">
                                    <span class="badge badge-primary">Administrador</span>
                                </div>
                                <div *ngIf="usuario.role != 'ADMIN_ROLE'">
                                    <span class="badge badge-warning">Usuario</span>
                                </div>
                            </td>
                            <td>
                                <a [routerLink]="['/ver-usuario', usuario._id]" class="btn btn-outline-success"><i class="mdi mdi-eye"></i> </a>
                                <a [routerLink]="['/editar-usuario', usuario._id]" class="btn btn-outline-warning ml-1 mr-1"><i class="mdi-lead-pencil mdi"></i></a>
                                <a *ngIf="usuario.estado" class="btn btn-outline-danger" (click)="borrarUser(usuario._id)"><i class="mdi-delete mdi"></i></a>
                                <a *ngIf="!usuario.estado" class="btn btn-outline-danger" (click)="activarrUser(usuario._id)"><i class="mdi-account-check mdi"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>