<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="jumbotron">
                    <h1 class="display-4">Hola, Bienvenidos a la App de tareas!</h1>
                    <p class="lead">En esta App podrás administrar tus tareas con tus compañeros de trabajo, podrás crear tu equipo de trabajo, aparte de esto podrás crear tus tareas y asignarlas a los integrantes del grupo.</p>
                    <hr class="my-4">
                    <p>Recuerda que solo los administradores tienen control total de la aplicación, los usuarios no pueden ejercer ciertas funcionalidades en torno a las tareas como eliminarlas y editarlas ya que ese proceso se ejerce por el administrador</p>
                    <a class="btn btn-primary btn-lg" routerLink="/crear-usuario" role="button">Crea tu primer Usuario</a>
                </div>
            </div>
        </div>
    </div>
</div>