<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de Tareas</h4>
                <h6 class="card-subtitle">Aquí se mostraran las tareas</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Prioridad</th>
                            <th>Fecha creación</th>
                            <th>Fecha vencimiento</th>
                            <th>Estado</th>
                            <th>Asignado Ha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tarea of data">
                            <td> {{tarea.nombre}} </td>
                            <td> <span [ngClass]="{'badge-danger': tarea.prioridad === 'Alta', 'badge-warning': tarea.prioridad === 'Media', 'badge-info': tarea.prioridad === 'Baja'}" class="badge">{{tarea.prioridad}}</span> </td>
                            <td>{{tarea.fechaCreacion}}</td>
                            <td>{{tarea.fechaVencimiento}}</td>
                            <td>
                                <div *ngIf="tarea.estado">
                                    <span class="badge badge-primary">Activo</span>
                                </div>
                                <div *ngIf="!tarea.estado">
                                    <span class="badge badge-danger">In Activo</span>
                                </div>
                            </td>
                            <td>{{tarea.asignadoA}}</td>
                            <td>{{tarea.autor}}</td>
                            <td>
                                <a [routerLink]="['/ver-tarea', tarea._id]" class="btn btn-outline-success"><i class="mdi mdi-eye"></i> </a>
                                <a [routerLink]="['/editar-tarea', tarea._id]" class="btn btn-outline-warning ml-1 mr-1"><i class="mdi-lead-pencil mdi"></i></a>
                                <a *ngIf="tarea.estado" class="btn btn-outline-danger" (click)="eliminarTarea(tarea._id)"><i class="mdi-delete mdi"></i></a>
                                <a *ngIf="!tarea.estado" class="btn btn-outline-danger" (click)="activarTarea(tarea._id)"><i class="mdi-account-check mdi"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>